<head>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>

<div class=" center">
	<div class="jumbotron text-center">
	  <div class="heading">
	    <h1>PICADELPHIA</h1>
	    <h4>Share your pictures from around the city!</h4>
	    <h5>Philadelphia, PA</h5>
	  </div>
    </div>
	<!-- this is to not allow users to see the signed in and log in -->
	<% if user_signed_in? %>
	  <!-- <p> You are now apart of the team :)</p> -->
	<%else %>
	<!-- new users are able to register -->
	<div class="signup">
	  <p>  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
		<%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
	  </p>
	</div>
	<% end %>
</div>




