<div class=" center">
	<h1>Welcome to Picadelphia</h1>
	<p> Become A Member <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
		<%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
	</p>
</div>