<head>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<div class="jumbotron">
  <div class="heading">
    <h1>About Picadelphia</h1>
    <h4>Picadelphia is a photo blogging app that lets users share their pictures from around the city</h4>
  </div>
</div>
