<head>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>

<h1>New Photo</h1>

<%= render 'form' %>

<%= link_to 'Back', photos_path %>
