// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: 'Gloria Hallelujah', cursive;
}


.jumbotron {
  background: #000 url('/images/coverpic.jpg') no-repeat center;
  background-size: cover;
  color: white;
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.heading {
	margin-top: 0px;
}

	.heading h1 {
		font-size: 7em;
		text-align: center
	}

	.heading h4 {
		text-align: center;
		margin: 30px;
	}

.signup {
	margin: 25em;
	text-align: center
  }



